<app-slider-for-all></app-slider-for-all>
<h1 class="setMargin">Accessories</h1> <hr>
    <div class="container bg-white">
      
        <div class="row">
              
            <div *ngFor = "let item of productsArray" class="col-md-3 col-sm-6 mb-2">
                <div class="product-grid4">
                    <div class="product-image4">
                        <!-- <a href="#"> -->
                            <img class="pic-1" src="{{item.image}}">
                            <img class="pic-2" src="{{item.image}}">
                        <!-- </a> -->
                        <ul class="social">
                            <li><a routerLink="/accessoriesdescripton/{{item.productID}}" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a routerLink = "/myCart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                        
                   
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">{{item.productName}}</a></h3>
                        <div class="price">
                                {{item.productPrice}}
                           
                        </div>
                      <!-- <button class="add-to-cart" (click) ="addtocart(item)" data-target="#exampleModalCenter" data-toggle="modal">ADD TO CART </button> -->
                      <button class="add-to-cart" (click) ="adddtocart(item)" data-target="#exampleModalCenter" data-toggle="modal">ADD TO CART </button>
                    </div>
                </div>
            </div>
           
               
            </div>
    
    
            
            
            
           
        <!-- </div> -->
    </div>
  

 
  <!-- Modal -->
  
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Added to cart</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2> 1 item is Added to cart</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-secondary" (click) = "gotocart()" data-dismiss="modal">Go to Cart</button>
        </div>
      </div>
    </div>
  </div>