<app-slider></app-slider>
<div class="desc">
<div class="row">
<div class="col-md-4">
<div class="card cardd">
    <img class="card-img-top" src="assets/p6.jpg"  alt="Card image cap" />



</div>
</div>
<div class="col-md-4 carddd">
    <div class="card border-0">
        <h2 class="card-title">Card title</h2>
  
        <h2 class="card-subtitle mb-2 text-muted mt-5"><span>Price :</span> 24000 pkr</h2>
        <h2 class="card-subtitle mb-2 text-muted mt-5"><span>Model :</span> 2007</h2>
        <h2 class="card-subtitle mb-2 text-muted mt-5"><span>Brand :</span> Suzuki</h2>
        <h6 class="card-text mt-5"> <span>Description :</span> Some quick example text to build on the card title and make up the bulk of the card's content.</h6>

    
    
    
    </div>



</div>
<div class="col-md-4 carddd">
    <div class="card">
      <div class ="card-header">Dealer Information</div>
        <h2 class="card-title"><span>Name</span>Abc</h2>
  
        <h2 class="card-subtitle mb-2 text-muted mt-5"><span>Date :</span> 24/3/12</h2>
        <h2 class="card-subtitle mb-2 text-muted mt-5"><span>Phone No :</span> 03337828837</h2>
        <h2 class="card-subtitle mb-2 text-muted mt-5"><span>Address :</span> l</h2>
        <!-- <h6 class="card-text mt-5"> <span>Description :</span> Some quick example text to build on the card title and make up the bulk of the card's content.</h6> -->

    
    
    
    </div>



</div>
</div>
</div>
<app-related-products></app-related-products>
