
.cardd {
    margin-left: 3pc; 
    margin-top: 3pc; 
 border: 1px solid wheat;
 }
 .desc {
     margin-left: 3pc;
     margin-right: 3pc;
    margin-top: 3pc;
    background-color: white
 
 }
 
 .carddd {
   
     margin-top: 3pc; 
 
  }
 