<div class="top-margin">
    <div class="jumbotron text-xs-center">
        <h1 class="display-3 text-center">Thank You!</h1>
        <p class="lead"><strong>Your Order has been confirmed. </strong>It will be delivered within 7 working days. </p>
        <hr>
        <p class="text-center">
          Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead text-center">
          <a class="btn btn-primary btn-sm" routerLink="/home" role="button">Continue to homepage</a>
        </p>
      </div>

</div>
