<h1 class = "text-center"> Buy New Bikes By Brands</h1>

<div class = "bikebrands">
  <img src="assets/suzukiLogo.jpg" class = "imagePadding" alt="Card image cap" onmouseover="src='assets/suzuki-logo.png'" onmouseout="src='assets/suzukiLogo.jpg'"(click) = "onClick('Suzuki')" >
  <img src="assets/ravi.jpg" class = "imagePadding" alt="Card image cap" (click) = "onClick('ravi')">
  <img src="assets/unique1.png" class = "imagePadding" alt="Card image cap"  onmouseover="src='assets/unique2.jpg'" onmouseout="src='assets/unique1.png'" (click) = "onClick('unique')">
  <img src="assets/bmw.jpg" class = "imagePadding" alt="Card image cap"(click) = "onClick('bmw')">
  <img src="assets/superPower1.png" class = "imagePadding" alt="Card image cap" onmouseover="src='assets/superPower2.png'" onmouseout="src='assets/superPower1.png'" (click) = "onClick('superpower')">
  <img src="assets/united1.png" class = "imagePadding" alt="Card image cap"  onmouseover="src='assets/united2.jpg'" onmouseout="src='assets/united1.png'"(click) = "onClick('united')">
  <img src="assets/yamaha1.jpg" class = "imagePadding" alt="Card image cap" (click) = "onClick('yamaha')">
  <img src="assets/OSAKA.png" class = "imagePadding" alt="Card image cap" (click) = "onClick('osaka')">
  <img src="assets/harley1.png" class = "imagePadding" alt="Card image cap" onmouseover="src='assets/harely2.jpg'" onmouseout="src='assets/harley1.png'" (click) = "onClick('harley')">
  <img src="assets/honda1.png" class = "imagePadding" alt="Card image cap" onmouseover="src='assets/honda2.png'" onmouseout="src='assets/honda1.png'"(click) = "onClick('honda')">
  
</div>
